 *{
    box-sizing: border-box;
    border: 1px solid pink;
} 

html{
    height: 1000vh;
}
.cus-navbar{
    background-image: url('../img/nav.png');
    background-size: cover;
}

.about{
    width: 100%;
    height:50vh ;
    /* background-color: peachpuff; */
}
h4{
    text-align: center;
    margin-top: 30px;
}
.about-text{
    text-align: center;
    line-height: 4;
    font-family: 微軟正黑體;
    font-size: 20px;
}

.ground-body{
    background-color: burlywood;
    height: 600px;
    
} 
.ground-img{
    margin-top: 30px;
}

.ground-img-a{
    margin-bottom: 20px;
}

.news-img{
    
    height: calc(100vh - 40px);
    background-image: url('../img/news/news1.png');
    background-size: cover;
}
.news-bg{
    margin-top: 30px;    
}
.news-text{
    height: 200px;
}
#news-lace{
    /* margin-top: 120px; */
}
#news-text-title{
     /* line-height:100px; */
}